@import 'https://fonts.googleapis.com/css?family=Cuprum';
.about {
    background: url('/muse/images/me.png'), url('/muse/images/back.png');
    background-repeat: no-repeat, repeat;
    background-position: bottom right, bottom;
    background-size: 50vh, 10%;
    text-shadow: 1px 1px 0px black;
    
}
span{
    color:#b1ff00;
    text-decoration: underline;
}
.data p,h1,a{
    font-family: 'Cuprum', sans-serif;
    color:aliceblue;
}

.data p{
    font-size: 20px;
    letter-spacing: 1px;
}

.data{
    padding-top:  20vh;
    padding-left: 20vh;
}
.data h1 {
    font-weight: 200;
}
navbar {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 20px;
    background: rgba(225,225,225,0.2);
    text-transform: uppercase;
}
navbar li + li:before{
    content: '/';
    padding: 0px 12px 0px 9px;
}
navbar li,a{
    font-size: 22px;
    display: inline-block;
    color: #ebff61;
    border-bottom: 2px solid rgba(225,0,0,0);
}
navbar li a:hover{
   border-bottom: 2px solid #ebff61;
    
}

.name {
    color: aliceblue;
}
