@import 'https://fonts.googleapis.com/css?family=Cuprum';
.about {
/*    background: url('/muse/images/me.png'), url('/muse/images/back.png');*/
/*    background-repeat: no-repeat, repeat;*/
/*    background-position: bottom right, bottom;*/
/*    background-size: 50vh, 10%;*/
    text-shadow: 1px 1px 0px black;
    padding-top: 20vh;
    z-index: 10;
    
}
span{
    color:#F44336;
    text-decoration: underline;
}
.data{
    background: #000;
    padding-bottom: 20px;
}
.data p,h1,h2,a{
    font-family: 'Cuprum', sans-serif;
    color:aliceblue;
}

.data p{
    font-size: 20px;
    letter-spacing: 1px;
}
@media only screen and (max-width :786px){
    .about{
        padding-top:5vh; 
    }
     h1{
        font-size: 250%;
    }
    h2 {
        font-size: 200%;
    }
    .data p{
        font-size: 150%;
    }
}

.data h1 {
    font-weight: 200;
}
navbar {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 20px;
    background: rgba(225,225,225,0.2);
    text-transform: uppercase;
}
navbar li + li:before{
    content: '/';
    padding: 0px 12px 0px 9px;
}
navbar li,a{
    font-size: 22px;
    display: inline-block;
    color: white;
    border-bottom: 2px solid rgba(225,0,0,0);
}
navbar li a:hover{
   border-bottom: 2px solid white;
    
}

@media only screen and (max-width:800px){
    navbar{
        display: none;
    }
}
.name {
    color: #F44336;
}