/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {color:red;}
    25%  {color:#ffab40;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}

/* Standard syntax */
@keyframes example {
    0%   {color:red;}
    25%  {color:#ffab40;}
    50%  {color:blue;}
    75%  {color:green;}
    100% {color:red;}
}


.underline{
    padding: 10px;
    position: relative;
    text-shadow: 1px 1px black;
    
    
}
.underline:after{
    content: "";
    position: absolute;
    background: black;
    height: 4px;
    left: 50%;
    right: 50%;
    bottom:0;
    -webkit-transition-property: left, right,color;
    transition-property: left, right,color;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.underline:hover::after{
    left :0;
    right: 0;
}
.cont-1{
    padding-top: 10vh;
}

@keyframes back{
    0%  {background-color: #FFAB40;}
    25% {background: #90e9f8}
    50% {background-color: #e74c3c;}
    75% {background: #ADD100;}
    100%{background-color: #FFAB40;}
}

.intro {
    z-index: 10;
    color:white;
    position: absolute;
    padding: 5px;
    border : 5px solid #333a41;
    border-radius : 40px 0px 50px 0px;
    animation: back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.dap-image {
    text-align: right;
    padding-right: 100px;
    z-index: 5;
}

.dap-image img{
    border :5px solid #333a41;
    margin-bottom: -25px;
}
.term-acces {
    padding-top: 20px;
    margin: 0;
}